{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Sizin Şirkətiniz - {{company.company_name}}</h1>
            <ul>
                <li>VÖEN: {{company.voen}}</li>
                <li>VÖEN: {{company.voen}}</li>
                <li>Rəhbərin adı və soyadı: {{company.ceo_first_name}} {{company.ceo_last_name}}</li>
            </ul>
        </div>
        
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endif %}

        {% endfor %}
        
        <h2>ASAN İMZALAR</h2>
        <ul>
            {% for imza in asan_imzalar %}
                <li><a href="{% url 'update_asan_credential' imza.pk %}">{{imza}}</a> <a href="{% url 'remove_asan_credential' imza.pk %}" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{% url 'create_asan_credential' %}">Asan imza yarat</a>
        
        <hr>

        <h2>GONDERILEN SENEDLER</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Şirkət</th>
                    <th>Fayl</th>
                    <th>Sənədin tarixi</th>
                    <th>Bitmə vaxtı</th>
                    <th>Status</th>
                    <th>Qeyd</th>
                    <th>Tarix</th>
                </tr>
                {% for doc in sent_documents %}
                    <tr>
                        <td>{{doc.id}}</td>
                        <td>{{doc.receiver}}</td>
                        <td><a href="{{doc.file.url}}" target="_blank">endir</a></td>
                        <td>{{doc.formatted_doc_date}}</td>
                        <td>{{doc.formatted_doc_exp_date}}</td>
                        <td>
                        {% if doc.status == document_class.STATUS_CREATED %}
                            <button type="button">Imzala</button>
                        {% elif doc.status == document_class.STATUS_SIGNED_BY_SENDER %}
                            <p class="alert alert-warning">Qarşı tərəfin imzasını gözləyir...</p>
                        {% elif doc.status == document_class.STATUS_SIGNED_BY_RECEIVER %}
                            <p class="alert alert-success">Sənəd təsdiqləndi</p>
                        {% elif doc.status == document_class.STATUS_REJECTED %}
                            <p class="alert alert-danger">İmtina edildi</p>
                        {% elif doc.status == document_class.STATUS_EXPIRED %}
                            <p class="alert alert-danger">Vaxtı bitdi</p>
                        {% endif %}
                        </td>
                        <td>{{doc.notes}}</td>
                        <td>{{doc.created_at}}</td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>

    






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>